.footer__author {
  color: white;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
}

@media (max-width: 1100px) {
  .footer__author {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  .footer__author {
    margin: 0 10px;
  } 
}

@media (max-width: 660px) {
  .footer__author {
    line-height: 1;
    margin: 15px 10px;
  }
}