.footer__link {
  padding-right: 18px;
  max-width: 106px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  line-height: 1.12;
  transition: opacity 0.4s ease;
}

.footer__link:hover {
  opacity: 0.4;
}