@import url(./_number/place__paragraph_number_one.css);
@import url(./_number/place__paragraph_number_two.css);

.place__paragraph {
  max-width: 484px;
  line-height: 1.67;
  font-size: 18px;
  margin: 0;
  padding-bottom: 24px;
  text-align: start;
}

@media (max-width: 768px) {
  .place__paragraph {
    line-height: 1.62;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .place__paragraph {
    margin: 0 auto;
    width: 88%;
  }
}