@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__number/intro__number.css);

.intro {
  max-width: 95%;
  min-height: 428px;
  color: white;
  padding-top: 80px;
  width: 83%;
  margin: 0 auto; 
}

@media (max-width: 1024px) {
  .intro {
    padding-top: 85px;
    width: 90%;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-top: 80px;
    width: 100%;
  }
}

@media (max-width: 670px) {
  .intro {
    padding-top: 70px;
    width: 84%;
  }
}

@media (max-width: 400px) {
  .intro {
    width: 94%;
  }
}