.place__website {
  grid-area: website;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

@media (max-width: 1024px) {
  .place__website {
    padding-bottom: 10px;
  }
}

@media (max-width: 756px) {
  .place__website {
    display: none;
  }
}