.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin: 15px 0 0;
}

@media (max-width: 670px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px;
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .intro__title {
    margin: 0 5px;
  }
}